.slide {
    .background {
        background: #fff;
    }

    .menu {
        @height: 30px;
        @font-size: 25px;

        display: flex;
        flex-direction: row;
        background: @brand-primary;
        margin: -40px -20px 20px;
        padding: 10px;

        h1 {
            font-size: @font-size;
            color: #fff;
            flex-grow: 1;
            line-height: @height;
            margin: 0;
        }

        .menu-action:before {
            line-height: @height;
            font-size: @font-size * (2 / 3);
            color: #fff;
        }
    }

    .foreground {
        display: flex;
        flex-direction: column;

        .page-content {
            flex-grow: 1;
        }
    }
}

[click-to] {
    cursor: pointer;
}

.btn-styled {
    text-transform: uppercase;
    font-family: @font-family-sans-serif;
    letter-spacing: 1px;
    font-size: 0.95em;
}

.helper-head {
    font-size: 14px;
    color: #999;
    text-align: center;
    margin-bottom: 20px;
}
