.slide {
    .background {
        background: #fff;
    }

    .menu {
        @height: 30px;
        @font-size: 25px;

        display: flex;
        flex-direction: row;
        background: @brand-primary;
        margin: -40px -20px 20px;
        padding: 10px;
        min-height: 50px;

        h1 {
            font-size: @font-size;
            color: #fff;
            flex-grow: 1;
            line-height: @height;
            margin: 0;
        }

        .menu-action:before {
            line-height: @height;
            font-size: @font-size * (2 / 3);
            color: #fff;
        }
    }

    .foreground {
        display: flex;
        flex-direction: column;

        .page-content {
            flex-grow: 1;
            flex-basis: 1px;

            &.fadeout {
                overflow: hidden;
                position: relative;

                &:before {
                    position: absolute;
                    top: 75%;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    content: "";
                    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
                }
            }
        }
    }
}

[click-to] {
    cursor: pointer;
}

.btn-styled {
    text-transform: uppercase;
    font-family: @font-family-sans-serif;
    letter-spacing: 1px;
    font-size: 0.95em;
}

.helper-head {
    font-size: 14px;
    color: #999;
    text-align: center;
    margin-bottom: 20px;
}

.menu-bottom {
    padding: 5px 10px;
    margin: 20px -20px -20px;
    background: #148605;
    display: flex;
    flex-direction: row;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

    > * {
        flex: 1;
    }

    a {
        transform: scale(1);
        transition: transform 0.2s;
        cursor: pointer;
        color: #fff;

        &:before {
            display: block;
            font-size: 30px;
            margin-bottom: 4px;
        }

        &:hover {
            text-decoration: none;
            transform: scale(0.95);
        }
    }
}
